body {
    background-color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.panel {
    position: absolute;
    background-color: lightgoldenrodyellow;
    border: 8px solid burlywood;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    z-index: 1;

}

.header {
    left: 50%;
    top: 110px;
    height: 80px;
    width: 300px;
    margin-left: -120px;
}

.header-text {
    font-size: 30px;
    font-family: 'Product Sans', 'sans-serif';
    font-weight: bold;
    width: 250px;
    /*margin: 0;*/
    /*margin-left: 35px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header-text-number {
    font-size: 40px;
}

.footer {
    left: 50%;
    top: 750px;
    height: 80px;
    width: 300px;
    margin-left: -120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer button {
    margin-left: 5px;
    margin-top: 15px;
    width: 140px;
    height: 50px;
    background-color: lightblue;
    font-size: 20px;
    -webkit-box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.9);
    box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.9);
    border: 5px solid chocolate;
    font-weight: bold;
}

.footer button:hover {
    background-color: #d27838;
    border: 5px solid #d2691e;
    transition: background-color 0.3s;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    width: 500px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 20%;
    background-color: bisque;
    border: 8px solid burlywood;
    border-radius: 8%;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);

}


.gameCircle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid black;
}

.player-0 {
    background-color: white;
}

.player-1 {
    background-color: rgb(175, 253, 247);
}

.player-2 {
    background-color: rgb(255, 149, 149);
}